* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: #EAEAEA;
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CURRENT PRICES SECTION */
.today__coins-list {
  display: flex;
  margin: 5% 0 5% 0;
  width: 70%;
}

@media (max-width: 576px) {
  .today__coins-list {
    flex-direction: column;
  }
}

.today__coins-list li {
  background-color: #fff;
  border: 1px solid #5F5F5F;
  border-radius: 5px;
  margin: 2%;
  width: 30%;
}

@media (max-width: 576px) {
  .today__coins-list li {
    width: 100%;
  }
}

.today__coins-list img {
  max-height: 40px;
  margin-top: 5%;
}

.coin__change-percent {
  color: white;
  border-radius: 4px;
  padding: 0 2px;
}

.coin__change-percent--no-change {
  background-color: #333;
}

.coin__change-percent--up {
  background-color: #43A047;
}

.coin__change-percent--down {
  background-color: #cc0000;
}
/* END CURRENT PRICES SECTION */

/* PRICE HISTORY OF COINS */
.history__dates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
}

@media (max-width: 576px) {
  .history__dates-list {
    flex-direction: column;
    padding: 0;
  }
}

.history__dates-list ul {
  display: flex;
  justify-content: center;
}

.dates-list__day {
  width: 40%;
  margin: 0 2% 1% 2%;
  background-color: white;
  border: 1px solid #5F5F5F;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .dates-list__day {
    width: 100%;
    margin-bottom: 5%;
  }
}

.dates-list__day li {
  width: 33%;
}

.day__date {
  color: #327CCB;
  text-align: left;
  padding: 3% 5%;
  margin: 0;
  border-bottom: 1px solid #5F5F5F;
}

.dates-coins-list__coin--middle {
  border-left: 1px solid #5F5F5F;
  border-right: 1px solid #5F5F5F;
}
/* END PRICE HISTORY OF COINS */